* {box-sizing: border-box;}

header {background-image: url(img/logo.PNG);
        background-color: #4762ac;
        color: #FFFFFF;
        height: 150px;
        margin-top: 50px;
        text-align: center;}

footer {background-color: #b3d3d4;
        font-size: .60em;
        text-align: center;
        font-style: italic;
        padding: 1em;
        clear: right;}

h1 {    padding-top: 50px;
        padding-left: 2em;}

nav {   text-align: right;
        font-weight: bold;
        background-color: #FFF;
        margin: 0;
        padding-top: 0.5em;
        padding-bottom: 1em;
        padding-right: 0;
        position: fixed;
        position: fixed; 
        top: 0; 
        left: 0;
        height: auto; 
        width: 100%;
        z-index: 9999;}
        
nav ul {list-style-type: none; margin: 0; 
        padding-right: 2em; font-size: 1.2em;
        justify-content: flex-end;}
        
nav li {display: inline;
        padding-left: 2em;
        width: 7em;}

nav a {text-decoration: none;}
nav a:link {color: #0c6eef;}
nav a:visited {color: #0c6eef;}
nav a:hover {color: #0c6eef;}
li , dd {font-size: 90%;}
        
#wrapper{width: 960px;
        margin-left: auto;
        margin-right: auto;
        background-color: #F5F5F5;
        min-width:1000px;
        max-width:1280px; }
    
main  { padding-left:2em;
        padding-right:2em;
        display:block;}
         
img { padding-left:1em;
        padding-right:1em;}


footer {background-color: #9BC1C2;
        font-size: .60em;
        text-align: center;
        font-style: italic;
        padding: 1em;
        clear: right;}


        